body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

#YMapsID {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 3px;
    background: #e7f6fd;
    text-align: center;
}

#filter {
    display: inline-block;
    position: relative;
}

.main-title {
    margin: 5px 0 10px 0;
    color: #0173ba;
    text-align: center;
}

@media (min-width: 650px) {
    .fuel-types {
        float: left;
    }
}

.fuel-types__title,
.services__title {
    border: 1px solid #c5d0d4;
    border-radius: 15px;
    background: #fff;
    color: #0173ba;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px;
    margin: 0;
}

.fuel-types__list,
.services__list {
    list-style: none;
    padding: 0;
    user-select: none;
    margin: 10px 0;
}

.fuel-types__list input[type=checkbox],
.services__list input[type=checkbox] {
    display: none;
}

.fuel-types__list li {
    display: inline-block;
}

@media (min-width: 650px) {
    .services {
        float: left;
        margin-left: 15px;
    }
}

.services__list li {
    display: inline-block;
}

@media (min-width: 650px) {
    .buttons {
        float: left;
        margin-left: 15px;
    }
}

.btn {
    background: #0173ba;
    color: #fff;
    min-width: 170px;
    height: 30px;
    padding: 5px;
    border: 0;
    border-radius: 15px;
    font-size: 14px;
    margin-bottom: 10px;
    cursor: pointer;
    outline: none;
}

.buttons .btn {
    display: block;
}

@media (max-width: 649px) {
    .buttons .btn {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.icon-btn {
    display: inline-block;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

.icon-btn--gaz {
    background-image: url("../images/icon-gaz.svg");
}

.icon-in-map-baloon.m-sg,
input:checked + .icon-btn--gaz{
    background-image: url("../images/icon-gaz_active.svg");
}

.icon-btn--dt {
    background-image: url("../images/icon-dt.svg");
}

.icon-in-map-baloon.m-dt,
input:checked + .icon-btn--dt {
    background-image: url("../images/icon-dt_active.svg");
}

.icon-btn--ai80 {
    background-image: url("../images/icon-ai80.svg");
}

.icon-in-map-baloon.m-ai80,
input:checked + .icon-btn--ai80 {
    background-image: url("../images/icon-ai80_active.svg");
}

.icon-btn--ai92 {
    background-image: url("../images/icon-ai92.svg");
}

.icon-in-map-baloon.m-ai92,
input:checked + .icon-btn--ai92 {
    background-image: url("../images/icon-ai92_active.svg");
}

.icon-btn--ai95 {
    background-image: url("../images/icon-ai95.svg");
}

.icon-in-map-baloon.m-ai95,
input:checked + .icon-btn--ai95 {
    background-image: url("../images/icon-ai95_active.svg");
}

.icon-btn--ai98 {
    background-image: url("../images/icon-ai98.svg");
}

.icon-in-map-baloon.m-ai98,
input:checked + .icon-btn--ai98 {
    background-image: url("../images/icon-ai98_active.svg");
}
/*
.icon-btn--shower {
    background-image: url("../images/icon-shower.svg");
}

.icon-in-map-baloon.m-shower,
input:checked + .icon-btn--shower {
    background-image: url("../images/icon-shower_active.svg");
}
*/

.icon-btn--water {
    background-image: url("../images/icon-water.svg");
}

.icon-in-map-baloon.m-glass,
input:checked + .icon-btn--water {
    background-image: url("../images/icon-water_active.svg");
}

.icon-btn--tire {
    background-image: url("../images/icon-tire.svg");
}

.icon-in-map-baloon.m-pum,
input:checked + .icon-btn--tire {
    background-image: url("../images/icon-tire_active.svg");
}

.icon-btn--clean {
    background-image: url("../images/icon-clean.svg");
}

.icon-in-map-baloon.m-clean,
input:checked + .icon-btn--clean {
    background-image: url("../images/icon-clean_active.svg");
}

.icon-btn--cafe {
    background-image: url("../images/icon-cafe.svg");
}

.icon-in-map-baloon.m-cafe,
input:checked + .icon-btn--cafe {
    background-image: url("../images/icon-cafe_active.svg");
}


.icon-btn--wc {
    background-image: url("../images/icon-wc.svg");
}

.icon-in-map-baloon.m-wc,
input:checked + .icon-btn--wc {
    background-image: url("../images/icon-wc_active.svg");
}

.icon-btn--shop {
    background-image: url("../images/icon-shop.svg");
}

.icon-in-map-baloon.m-mag,
input:checked + .icon-btn--shop {
    background-image: url("../images/icon-shop_active.svg");
}

.c-blue {
    color: #0173ba;
}

.icon-in-map-baloon {
    display: inline-block;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: bottom;
}

.dropdown-btn {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 0;
    background: url("../images/arrow-up.svg") no-repeat center;
    background-size: contain;
    border: 0;
    position: absolute;
    bottom: 8px;
    right: 10px;
    outline: none;
}

.dropdown-btn.m-raised {
    background-image: url("../images/arrow-down.svg");
    bottom: 5px;
}

.contextmenu {
    position: absolute;
}

.contextmenu-list {
    display: block;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    max-width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.customControl {
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    max-width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
